* {
  box-sizing: border-box;
}

/* Default mobile styles */
body {
  font-size: 16px;
}

main {
  width: 100%;
}

nav {
  overflow: auto;
  scrollbar-width: none;
  margin-bottom: -1px;
  /* fixes chrome bug that makes section headers jittery after scrollTo*/
}

.tl-nav {
  list-style: none;
  display: flex;
  padding: 30px 0px;
  gap: 15px;
}
.tl-nav a {
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #0e4174;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
section .dropdown-menu {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border: none;
  translate: 40px;
}
section .dropdown-menu .tl-nav {
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
  gap: 2px;
}
section header.decade {
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  background: white;
  color: #0057b7;
  align-items: center;
  position: sticky;
  top: 0px;
  transition: 0.2s all ease-in-out;
  transform-origin: top;
  z-index: 2;
}
section header.decade a, section header.decade a:visited, section header.decade a:active {
  text-decoration: none;
  color: #0057b7;
  pointer-events: none;
}
section header.decade::before {
  /* Ellipse 1 */
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #C50000;
  border-radius: 100%;
  margin-right: 5px;
}
section header.decade .chevron {
  margin: 0 4px;
  visibility: hidden;
}
section header.decade.small {
  font-size: 1rem;
  padding: 10px 0 10px 0;
}
section header.decade.small .chevron {
  visibility: visible;
}
section header.decade.small a {
  pointer-events: all;
}
section .tl-card {
  display: flex;
  padding: 0px 10px;
  gap: 15px;
  font-size: 0.8rem;
  z-index: 1;
}
section .tl-card .tl-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 15px;
  gap: 30px;
  border-left: 1px solid #999;
  width: 100%;
}
section .tl-card .tl-content .tl-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
section .tl-card .tl-content .tl-text .tl-headline {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2;
}
section .tl-card .tl-content .tl-img {
  flex: 0 1 auto;
  width: 100%;
  height: 400px;
}
section .tl-card .tl-content .tl-img figure, section .tl-card .tl-content .tl-img img {
  margin: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  background: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
section .tl-card .tl-content .tl-img:has(img[src=""]) {
  display: none;
}
section .tl-card .tl-content .tl-img figcaption {
  color: #333;
  font-size: 0.9rem;
  padding: 10px;
}

/* Tablet styles */
@media (min-width: 600px) {
  #dpu-timeline {
    font-size: 1.2rem;
  }
}
/* Tablet landscape styles */
@media (min-width: 768px) {
  #dpu-timeline {
    font-size: 20px;
  }

  section .tl-card .tl-content {
    flex-direction: row;
  }
  section .tl-card .tl-content .tl-text {
    flex: 1 0 50%;
  }
  section .tl-card .tl-content .tl-img {
    height: 500px;
  }
}
/* Small laptop styles */
@media (min-width: 992px) {
  #dpu-timeline {
    font-size: 22px;
  }
}
/* Large laptop styles */
@media (min-width: 1200px) {
  #dpu-timeline {
    font-size: 24px;
  }
}
/* Extra large screens */
@media (min-width: 1400px) {
  #dpu-timeline {
    font-size: 26px;
  }
}
.will-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s all ease-in-out;
}
.will-fade-in.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=history.css.map */
