* {
    box-sizing: border-box;
}

/* Default mobile styles */
body {
  font-size: 16px;
}

main {
    width: 100%;
}

nav {
    overflow:auto;
    scrollbar-width: none;
    margin-bottom: -1px; /* fixes chrome bug that makes section headers jittery after scrollTo*/

    .tl-nav {
        list-style: none;
        display: flex;
        padding: 30px 0px;
        gap: 15px;
a {
font-family: 'Proxima Nova Condensed';
font-style: normal;
font-weight: 700;
font-size: 20px;

color: #0E4174;}
    }
}

section {
    display: flex;
    flex-direction: column;

    header.decade { 
        display: flex;
        font-size: 2rem;
        font-weight: 900;
        background: white;
        color: #0057b7;
        align-items: center;
        padding: 30px 0px 0px 0px;
        position: sticky;
        top: 0;
        transition: .2s all ease-in-out;
        transform-origin: 0;

        a, a:hover, a:visited, a:active {
            text-decoration: none;
            color: inherit;
        }
        
        &::before {
            /* Ellipse 1 */
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid #C50000;
            border-radius: 100%;
            margin-right: 5px;
        }

        &.small {
            font-size: 1rem;
            padding: 10px 0;
            box-shadow: 4px 0px 10px #000000;
            
            &::after {
                content:"⌄";
                margin-left: 4px;
            }
        }
        
    }
    
    .tl-card {
        display: flex;
        padding: 0px 10px;
        gap: 15px;
        font-size: .8rem;
        
        .tl-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 15px;
            gap: 10px;
            border-left: 1px solid #999;
            
            .tl-text {
                display: flex;
                flex-direction: column;
                flex: 1 1 50%;
                gap: 10px;
                
                .tl-headline {
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    font-size: 1.55rem;
                    line-height: 1.2;
                }
            }
            .tl-img {
                flex: 1 1 50%;
                width: 100%;
                img {width: 100%;}
                &:has(img[src=""]) {
                    display: none;
                 }
            }
        }
    }
}

/* Tablet styles */
@media (min-width: 600px) {
    #dpu-timeline {
        font-size: 1.2rem;
    }
}

/* Tablet landscape styles */
@media (min-width: 768px) {
    #dpu-timeline {
        font-size: 20px;
    }

    section {
        .tl-card {
            .tl-content {
                flex-direction: row;
            }
            .tl-img {
                width: auto;
            }
        }
    }
}

/* Small laptop styles */
@media (min-width: 992px) {
    #dpu-timeline {
        font-size: 22px;
    }
}

/* Large laptop styles */
@media (min-width: 1200px) {
    #dpu-timeline {
        font-size: 24px;
    }
}

/* Extra large screens */
@media (min-width: 1400px) {
    #dpu-timeline {
        font-size: 26px;
    }

}